{% extends "base.html" %}

{% load nav %}
{% load categories %}
{% load authors %}

{# meta data #}
{% block metadescription %}{% endblock %}
{% block metakeywords %}{% endblock %}
{% block pagetitle %}{% endblock %}

{% block fb_title %}{% endblock %}
{% block fb_type %}{% endblock %}
{% block fb_image %}{% endblock %}
{% block fb_url %}{% endblock %}
{% block fb_description %}{% endblock %}

{# page specific includes (stylesheets, javascripts) #}
{% block additional_head_items %}{% endblock additional_head_items %}

{# body id #}
{% block bodyid %}{{ block.super }}{% endblock %}{# for 'base' body id use {{ block.super }} #}

{# body class #}
{% block bodyclass %}{{ block.super }}{% endblock %}{# for 'base' body class use {{ block.super }} #}

{% block nav %}
    {% nav "events" %}
    {{ block.super }}
{% endblock %}

{# content #}
{% block content %}
    {% regroup object_list|dictsort:"start_date" by start_date|date:"F, Y" as monthly_list %}
    <dl>
        {% for item in monthly_list %}
            <dt>{{ item.grouper }}</dt>
            <dd>
                {% for object in item.list %}
                    <article id="{{ object.slug }}">
                        {% thumbnail object.image "80x80" crop="center" as im %}
                            <img src="{{ im.url }}" alt="" />
                        {% endthumbnail %}
                        
                        {% if object.start_date == object.end_date %}
                            <time datetime="{{ object.start_date|date:"Y-m-d" }}">{{ object.start_date|date:"n/d" }}</time>
                        {% else %}
                            {% if object.start_date|date:"m" = object.end_date|date:"m" %}
                                <time datetime="{{ object.start_date|date:"Y-m-d" }}">{{ object.start_date|date:"n/d" }}</time> <abbr title="through">-</abbr> <time datetime="{{ object.end_date|date:"Y-m-d" }}">{{ object.end_date|date:"d" }}</time>
                            {% else %}
                                <time datetime="{{ object.start_date|date:"Y-m-d" }}">{{ object.start_date|date:"n/d" }}</time> <abbr title="through">-</abbr> <time datetime="{{ object.end_date|date:"Y-m-d" }}">{{ object.end_date|date:"n/d" }}</time>
                            {% endif %}
                        {% endif %}
                        
                        <h1>{% if object.url %}<a href="{{ object.url }}" title="Website for {{ object.name|safe }}.">{% endif %}{{ object.name|safe }}{% if object.url %}</a>{% endif %}</h1>
                        <div class="wysiwyg">{{ object.description_html|safe }}</div>
                    </article>
                {% endfor %}
            </dd>
        {% endfor %}
    </dl>
{% endblock content %}

{# javascript #}
{% block javascript %}
    {{ block.super }}
{% endblock %}